<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rural E-Health App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AVLogin</display-name>
    <servlet-name>AVLogin</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.AVLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AVLogin</servlet-name>
    <url-pattern>/AVLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SDLogin</display-name>
    <servlet-name>SDLogin</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.SDLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDLogin</servlet-name>
    <url-pattern>/SDLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCaseAV</display-name>
    <servlet-name>AddCaseAV</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.AddCaseAV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCaseAV</servlet-name>
    <url-pattern>/AddCaseAV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prescription</display-name>
    <servlet-name>Prescription</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.SDPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prescription</servlet-name>
    <url-pattern>/Prescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DPrescription</display-name>
    <servlet-name>DPrescription</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.DPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DPrescription</servlet-name>
    <url-pattern>/DPrescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comments</display-name>
    <servlet-name>Comments</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.Comments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comments</servlet-name>
    <url-pattern>/Comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DComments</display-name>
    <servlet-name>DComments</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.DComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DComments</servlet-name>
    <url-pattern>/DComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsSD</display-name>
    <servlet-name>CommentsSD</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.CommentsSD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsSD</servlet-name>
    <url-pattern>/CommentsSD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAarogyaVibhag</display-name>
    <servlet-name>AddAarogyaVibhag</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.AddAarogyaVibhag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAarogyaVibhag</servlet-name>
    <url-pattern>/AddAarogyaVibhag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialist</display-name>
    <servlet-name>AddSpecialist</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.AddSpecialist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialist</servlet-name>
    <url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wtlogin</display-name>
    <servlet-name>wtlogin</servlet-name>
    <servlet-class>com.RuralEHealthServices.db.wtlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wtlogin</servlet-name>
    <url-pattern>/wtlogin</url-pattern>
  </servlet-mapping>
</web-app>